@model Shafam.Common.DataModel.Doctor

@{
    ViewBag.Title = "CancelAppointment";
}

<div class="row">
    <div class="col-md-10">
        <h3>Appointment was cancelled.</h3>
    </div>
    <div class="col-md-11">
        <br />

        <p class="pull-right">@Html.ActionLink("< Back to doctor schedule", "DoctorSchedule", new { doctorId = @Model.DoctorId })</p>

    </div>
</div>
