@using Shafam.Common.DataModel
@model Shafam.UserInterface.Models.PatientScheduleViewModel

@{
    ViewBag.Title = "Patient Schedule";
}

@Html.Partial("_Header", @Model.Patient)

<table class="table">
    <thead>
        <tr>
            <th>Doctor ID</th>
            <th>Date Time</th>
        </tr>
    </thead>
    @foreach (Appointment appointment in Model.Appointments)
    {
        <tr>
            <td>@appointment.DoctorId</td>
            <td>@appointment.DateTime</td>
        </tr>
    }
</table>