@using Shafam.Common.DataModel

@{
    ViewBag.Title = "Patient Schedule";
}

<h2>Schedule</h2>

<table class="table">
    <tr>
        <th>Doctor ID</th>
        <th>Date Time</th>
    </tr>
    @foreach (Appointment appointment in Model)
    {
        <tr>
            <td>@appointment.DoctorId</td>
            <td>@appointment.DateTime</td>
        </tr>
    }
</table>
