Shafam.Common/bin/
Shafam.DataAccess/bin/
Shafam.BusinessLogic/bin/
Shafam.UserInterface/bin/
Shafam.Common/obj/
Shafam.DataAccess/obj/
Shafam.BusinessLogic/obj/
Shafam.UserInterface/obj/
Shafam.UserInterface/App_Data/aspnet-Shafam.UserInterface-20141027084411.mdf
Shafam.UserInterface/App_Data/aspnet-Shafam.UserInterface-20141027084411_log.ldf
Shafam.v12.suo
Shafam.UserInterface/App_Data/aspnet-Shafam.UserInterface-20141027084411.mdf
Shafam.UserInterface/App_Data/aspnet-Shafam.UserInterface-20141027084411_log.ldf
Shafam.UserInterface/App_Data/aspnet-Shafam.UserInterface-20141027084411.mdf
*.ldf
Shafam.UserInterface/App_Data/aspnet-Shafam.UserInterface-20141027084411.mdf
Shafam.sln.DotSettings.user
Shafam.UserInterface/App_Data/aspnet-Shafam.UserInterface-20141027084411_log.ldf
Shafam.UserInterface/App_Data/aspnet-Shafam.UserInterface-20141027084411_log.ldf
Shafam.UserInterface/Shafam.UserInterface.csproj.user

Shafam.UserInterface/Shafam.UserInterface.csproj.user

Shafam.UserInterface/Shafam.UserInterface.csproj.user
Shafam.UserInterface/App_Data/ShafamDatabase.mdf
