@{string action = ViewContext.RouteData.Values["action"].ToString();}

<ul class="nav nav-tabs">
    <li role="presentation" @if (action == "Appointments") { <text> class="active" </text>  }>@Html.ActionLink("Appointments", "Appointments")</li>
    <li role="presentation" @if (action == "Medication") { <text> class="active" </text>  }>@Html.ActionLink("Medication", "Medication")</li>
    <li role="presentation" @if (action == "Tests") { <text> class="active" </text>  }>@Html.ActionLink("Tests", "Tests")</li>
</ul>

<br />