@{
    ViewBag.Title = "RequestMessage";
}

@Html.Partial("_Header")

<div class="row">
    <div class="col-md-10">
        <h2>Your request was received.</h2> <br />
        <p>You will be contacted by a staff member.</p>
    </div>
    <div class="col-md-2">
        <br />

        <p class="pull-right">@Html.ActionLink("< Back to Appointments", "Appointments")</p>

    </div>
</div>

