@using Shafam.Common.DataModel
@model Shafam.UserInterface.Models.DoctorPatientViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>Select a doctor to generate list of his/her patients:</p>
@Html.DropDownListFor(model => model.Doctors, Model.DoctorList, "Select a doctor", new { @class = "form-control" })

<p>Select a patient to generate list of his/her visitations:</p>
@Html.DropDownListFor(model => model.Patients, Model.PatientList, "Select a patient", new { @class = "form-control" })
