@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SHAFAM</h1>
    <p class="lead">SHAFAM is a hospital management system that allows efficient management of hospital records.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit velit non finibus sodales. Vivamus facilisis lectus eget lorem dignissim, nec iaculis dui tincidunt. Vestibulum dictum pretium leo, et luctus mi sodales quis.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit velit non finibus sodales. Vivamus facilisis lectus eget lorem dignissim, nec iaculis dui tincidunt. Vestibulum dictum pretium leo, et luctus mi sodales quis.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get assistance</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit velit non finibus sodales. Vivamus facilisis lectus eget lorem dignissim, nec iaculis dui tincidunt. Vestibulum dictum pretium leo, et luctus mi sodales quis</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>