@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SHAFAM</h1>
    <p class="lead">SHAFAM is a hospital management system that provides efficient management of hospital records.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Simply login with your username and password provided to you by clicking on the 'Log in' link at the upper left corner. Patients can be ensured their information is confidential and only visible to the doctor and staff treating them.
        </p>
        <p>@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>All information is diplayed in easy to navigate tabs and tables. When you enter your login, all information relevant to your account type will be displayed.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get assistance</h2>
        <p>Contact the hospital's IT department for furhter assistance on how to use the software or any other issues.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>